.container {
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
  }
  
  .side {
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.8;
  }
  
  .front {
    background: #00a8ff;
    transform: translateZ(100px);
  }
  
  .back {
    background: #6ab04c;
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .left {
    background: #8e44ad;
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .right {
    background: #f1c40f;
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .top {
    background: #e74c3c;
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .bottom {
    background: #3498db;
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  body {
    background-color: #222;
    color: #fff;
  }
  
  .cube:before, .cube:after {
    position: absolute;
    content: "";
  }
  
  .cube:before {
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .cube:after {
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    filter: blur(20px);
    opacity: 0.5;
    z-index: -1;
  }
  